<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dz.gift" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:name=".App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/AppThemeNoAction"
            android:name=".StarActivity"
            android:screenOrientation="portrait">
        </activity>
        <service android:name="MusicService" android:enabled="true"></service>
        <activity
            android:name=".MusicActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".FlyActivity"
            android:theme="@style/AppThemeNoAction"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>